.title {
  font-size: 18px;
}

.addBoxWrapper {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  width: 100%;
  height: 180px;
}

.addBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.plusIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.plusIcon:hover {
  opacity: 0.8;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
