body {
  background-color: #111;
}

.container {
  background: #111;
  color: white;
  min-height: 100vh;
}

.content {
  padding-top: 40px;
  padding-bottom: 133px;
  max-width: 1200px;
  margin: 0 auto;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
/* 
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #333;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pageButton {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination {
  align-items: center;
} */

/*타블렛 사이즈*/
@media (min-width: 630px) and (max-width: 1199px) {
  .head {
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;

    box-sizing: content-box;
    padding: 0;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .content {
    padding: 40px 24px 83px 24px;
  }
}

/*모바일 사이즈 디자인*/
@media (max-width: 629px) {
  .head {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    gap: 16px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;

    /* gap: 0; */
    width: 100%;
    /* justify-content: space-between; */
  }

  /* 모바일 화면에서 데이터가 작아지지 않고 가로 스크롤이 생기도록 함 */
  .record {
    overflow-x: auto;
  }
}
